.DS_Store
data/

node_modules/

client/node_modules/

client/.pnp
client/.pnp.js

# testing
client/coverage

# production
client//build

# misc
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

client/scripts/flow/*/.flowconfig
*~
*.pyc
client/.grunt
client/_SpecRunner.html
client/__benchmarks__
client/build/
client/remote-repo/
client/coverage/
client/.module-cache
client/fixtures/dom/public/react-dom.js
client/fixtures/dom/public/react.js
client/test/the-files-to-test.generated.js
*.log*
client/chrome-user-data
*.sublime-project
*.sublime-workspace
client/.idea
*.iml
client/.vscode
*.swp
*.swo

client/packages/react-devtools-core/dist
client/packages/react-devtools-extensions/chrome/build
client/packages/react-devtools-extensions/chrome/*.crx
client/packages/react-devtools-extensions/chrome/*.pem
client/packages/react-devtools-extensions/firefox/build
client/packages/react-devtools-extensions/firefox/*.xpi
client/packages/react-devtools-extensions/firefox/*.pem
client/packages/react-devtools-extensions/shared/build
client/packages/react-devtools-inline/dist
client/packages/react-devtools-shell/dist