@import '../../../styles/app';

.map {
  position: relative;
  height: 500px;
  svg {
    height: 500px;
  }
}
.stats {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 5% 10%;
}

.mapChart {
  // position: relative;
  height: 500px;
  margin: (-$widget-padding-vertical) (-$widget-padding-horizontal) 0;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
  }