/* .mapboxgl-canvas {
    position: relative;
    height: 100% !important;
} */

@media screen and (min-width: 640px) {
    .mapboxgl-ctrl-geocoder--icon-close {
        width: 16px;
        height: 16px !important;
        margin-top: 3px;
        margin-right: 0;
    }
}
.sliderWrap{
    display: block;
    margin-left: 1.2em;

}

.mapWidget {
    color: black;
    /* width: 900px; */
    height: 750px !important;
}


.MuiSelect-icon {
    color: rgba(247, 242, 242, 0.54) !important;
}
.MuiSelect-select.MuiSelect-select {
    color: aliceblue;
}

.MuiFormHelperText-root {
    color: rgba(247, 242, 242, 0.54) !important;
}

.MuiFormLabel-root {
    color: rgba(247, 242, 242, 0.54) !important;
}

.MuiFormControl-root {
    margin-top: -0.8em !important;
    margin-left: 0em !important;
}

.MuiInputBase-root {
    color: rgb(248 248 248 / 87%) !important;
}
.makeStyles-root-1 {
    margin-left: 1.2em;
}

.MuiTypography-colorTextSecondary {
    color: rgb(245 245 245 / 97%) !important;
}
#weight-values {
    margin-top: 2em;
}

/* body {
    background: radial-gradient(farthest-side ellipse at 10% 0, #35429e8a 20%, #58d77773);
} */
